{% extends "panel/panel.html" %}
{% block title %}Suggests{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <td scope="col">id</td>
        <td scope="col">description</td>
        <td scope="col">deadline</td>
        <td scope="col">fields</td>
        <td scope="col">status</td>
        <td scope="col">price</td>
    </thead>
    <tbody>
        {% for suggest in object_list %}
        <tr>
            <td><a href="{% url 'suggest-details' suggest.pk %}">{{ suggest.pk }}</a></td>
            <td>{{ suggest.order.description }}</td>
            <td>{{ suggest.order.deadline }}</td>
            <td>{{ suggest.order.specialized_field.name }}</td>
            <td>{{ suggest.status }}</td>
            <td>{{ suggest.price }}</td>
        </tr>
        {% endfor %}
    </tbody>  
</table>
{% endblock %}