{% extends "account/base.html" %}
{% load i18n %} 
{% block title %} {% translate "Login Page" %} {% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center p-5">
  <div class="card shadow  mb-5 bg-body rounded  s-card">
    <div class="card-body">
      <form method="POST" class="d-flex align-items-center justify-content-center flex-column" action="{% url 'login' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary btn-block mb-4 s-form-button">
        {% translate "Log in" %}
        </button>
      </form> 
      <a class="card-text" href="{%url 'register' %}">{% translate "Don't have an account yes?" %}</a>
    </div>
  </div>
</div>
{% endblock %}
