{% extends "panel/panel.html" %}
{% block title %}Profile Page{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center p-5">
  <div class="card shadow  mb-5 bg-body rounded  s-card">
    <div class="card-body">
        <form class="d-flex align-items-center justify-content-center flex-column" method="POST" action="{% url view_url %}">
        {% csrf_token %}
        {{form}} 
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}