{% extends "panel/panel.html" %}
{% block title %}OrderOffers{% endblock %}

{% block content %}
<div class="card"> 
    <div class="card-body">
        <table class="table">
            <thead>
                <td scope="col">ID</td>
                <td scope="col">Description</td>
                <td scope="col">Translator</td>
                <td scope="col">Price</td>
            </thead>
            <tbody>
                {% for offer in object_list %}
                <tr>
                    <td><a href="{% url 'offer-details' offer.pk %}">{{ offer.pk }}</a></td>
                    <td><a href={{ offer.translator }}</td>
                    <td>{{ offer.order.deadline }}</td>
                    <td>{{ offer.order.specialized_field.name }}</td>
                    <td>{{ offer.status }}</td>
                    <td>{{ offer.price }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <div class="card-footer">
        {% include "components/pagination.html" %}
    </div>
</div>
{% endblock %}