{% extends "panel/panel.html" %}
{% block title %}Order Details{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Order Details
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td> Description </td>
                        <td> {{ order.description }} </td>
                    </tr>
                    <tr>
                        <td> Text </td>
                        <td><a href="{{ order.text.url }}">Download</a></td>
                    </tr>
                    <tr>
                        <td> Deadline </td>
                        <td> {{ order.deadline }} </td>
                    </tr>
                    <tr>
                        <td> Specialized Field </td>
                        <td> {{ order.specialized_field.name }} </td>
                    </tr>
                    <tr>
                        <td> Edit Needed </td>
                        <td> {% if order.edit_needed %} Yes {% else %} No {% endif %}</td>
                    </tr>
                    <tr>
                        <td> Source Language </td>
                        <td> {{ order.source_language.name }} </td>
                    </tr>
                    <tr>
                        <td> Target Language </td>
                        <td> {{ order.target_language.name }} </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ object.status }}</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'new-offer' object.pk %}">Make an offer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}